<% layout("/layouts/boilerplates.ejs")  %>
<body>
    <div class="row mt-4 mb-1">
        <div class="col-6 offset-3">
            <h1>SignUp For Lodgify</h1>
            <form action="/signup" method="post" class="needs-validation mt-3 mb-3" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Enter Your Username</label>
                    <input id="username" type="text" name="username" class="form-control" required>
                    <div class="invalid-feedback">Enter a valid username.</div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Enter E-mail Id</label>
                    <input id="email" type="text" name="email" class="form-control" required>
                    <div class="invalid-feedback">Enter a valid EMail Id.</div>
                </div>

                <div class="mb-3">
                    <label for="Password" class="form-label">Password</label>
                    <input id="Password" type="password" name="password" class="form-control" required>
                    <div class="invalid-feedback">Enter Password.</div>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Enter Country</label>
                    <input id="country" type="text" name="country" class="form-control" required>
                    <div class="invalid-feedback">Enter Country.</div>
                </div>

                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</body>
